.button.round-button {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  background-color: rgb(66, 66, 139);
  color: white;
  display: grid;
  place-items: center;
  padding: 0;
}

.button.round-button:hover {
  background-color: rgb(0, 0, 128);
  color: white;
}
